<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>prva kolona</div>
    <div class='col-sm-4'>druga kolona</div>
    <div class='col-sm-4'>treca kolona</div>
  </div>
  <button class='btn btn-primary'>dad</button>
</div>